@charset "utf-8";
.icon7 {
	display: inline-block;
	background: url(../img/icon7.png) no-repeat;
}


/*图片声明*/

.guarantee {
	width: 100%;
}

.guarantee img {
	width: 100%;
}


/*楼层跳转*/

.border_a {
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #d9d9d9;
	overflow: hidden;
}

.tab {
	text-align: center;
	color: #333;
	font-size: 12px;
	padding: 6px 0;
}

.tab1 {
	padding: 5px 0;
}

.tab:first-child {
	margin-left: 20px;
}

.tab:last-child {
	margin-right: 20px;
}

.tab a {
	color: #333;
	display: inline-block;
}

.tab_add a {
	color: #e31436;
	border-bottom: 1px solid #e31436;
}

.today .am-slider-a1 .am-control-nav li a.am-active {
	background-color: #666;
	cursor: default;
	width: 18px;
}

.today .am-slider-a1 .am-control-nav li a {
	border-radius: 0;
	background-color: #DDDDDD;
	box-shadow: none;
}

.select_l {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	width: 54px;
	height: 30px;
	background-size: 54px 45px;
}

.select_l1 {
	position: absolute;
	top: 10px;
	left: 30px;
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
	width: 10px;
	height: 10px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.fix {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999999;
}


/*图片*/

.image {
	width: 100%;
}

.image img {
	width: 100%;
}

.video {
	width: 100%;
	padding: 12px;
}

.state {
	width: 100%;
	padding: 0 14px;
	margin-bottom: 10px;
}

.state img {
	width: 100%;
}

.am-slider-a1 .am-control-nav {
	bottom: 42px;
}

.am-slider-a1 .am-control-nav li a.am-active {
	background-color: #d22147;
}

.am-slider-a1 .am-control-nav li a {
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, 0.4);
}

.am-slider-a1 .am-control-nav li {
	margin: 0 3px;
}


/*证书轮播图*/

.am-slider-a4 .am-control-nav li a.am-active {
	background-color: #747474;
}

.am-slider-a4 .am-control-nav li a {
	background-color: #BABABA;
	width: 5px;
	height: 5px;
}

.am-slider-a4 {
	margin-bottom: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
}


/*页脚*/

.am-footer-default .am-footer-switch {
	font-weight: normal;
}

.foot_p {
	padding: 0 10px;
	font-size: 13px;
}


/*返回顶部*/

.outline {
	position: relative;
	width: 40px;
	height: 40px;
	color: #fff;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.4);
}

.outline i {
	display: block;
}

.outline_a {
	font-size: 12px;
	position: absolute;
	top: 15px;
	left: 9px;
}

.am-gotop-fixed {
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 1010;
	opacity: 0;
	width: 40px;
	min-height: 32px;
	overflow: hidden;
	text-align: center;
}


/*切换楼层*/

.floor_a {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	color: #333;
}

.floor_a1 {
	background-color: #fff;
}

.tit {
	position: relative;
	z-index: 1;
	height: 46px;
	line-height: 46px;
	padding: 0 8px;
	border-bottom: 1px solid #e8e8e8;
}

.floor_a1 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	padding: 10px 8px;
}

.floor_a1 ul li {
	padding: 10px 17px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	width: 25%;
	font-size: 13px;
}

.floor_a1 ul li a {
	color: #333333;
}

.floor_a1 ul li:nth-child(4n+1) {
	padding-left: 0;
	width: 23%;
}

.floor_a1 ul li:nth-child(4n) {
	padding-right: 0;
	width: 23%;
}