@charset "utf-8";
.d-brandtop{
	margin-bottom: 60px;
}
.d-login_con{
	width:990px;
	margin: 0 auto;
}
.d-login_img {
	width: 460px;
	height: 360px;
}
.d-login_img img{
	width: 100%;
	height: 100%;
}
.d-login_label{
	width: 260px;
    display: inline;
    float: right;
    margin-right: 70px;
    margin-top: 70px;
    color: #4A4A4A;
    font-size: 18px
}
.d-login_label .d-phone_num {
    margin-top: 16px;
}

.d-login_label p {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}
.d-login_label input[type=text], .d-login_label input[type=password] {
    width: 260px;
    border: 1px solid #BEBDBB;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    outline: none;
    margin-bottom: 13px;
    font-size: 13px;
    background: #ffffff;
    text-indent: 6px;
}
.d-login_label p a {
    color: #4A4A4A;
    font-size: 12px;
    line-height: 18px;
}
.d-login_label p span {
    color: #e74c3c;
    font-size: 12px;
    margin-left: 6px;
    display: none;
}
.d-log_submit{
	margin-top: 20px;
}
#d-login{
    width: 125px;
    height: 36px;
    background-color: #e74c3c;
    text-align: center;
    line-height: 36px;
    color: white;
    margin-left: 0px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    display: block;
}
#d-login:hover{
	background-color: rgb(207,75,57);
}
.d-login_label p a.d-register_btn {
    width: 125px;
    height: 34px;
    border: 1px solid #e74c3c;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 34px;
    color: #e74c3c;
    display: inline-block;
}
.d-image_verify_code input[type=text]{
	    width: 160px;
    height: 34px;
}
.d-image_verify_code img{
	width: 90px;
    height: 34px;
    display: inline-block;
    border-radius: 3px; 
}
#d-phone_verify_code{
	    width: 160px;
    height: 34px;
}
#d-phone_verify_button {
	   width: 90px;
    height: 34px;
    font-size: 13px;
    color: #e74c3c;
    font-weight: normal;
    line-height: 34px;
    border: 1px solid #e74c3c;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}

.d-register_submit{
	margin-top: 20px;
	 width: 260px;
    height: 36px;
    line-height: 36px;
    background: #e74c3c;
    color: white;
    font-size: 14px;
    text-align: center;   
    font-weight: normal;
    cursor: pointer;
}
.d-register_agree{
	margin-top:18px;
	  font-size: 12px;
    color: #BEBDBB;
    text-align: center;
    width: 268px;
}
.d-register_agree span{
	text-decoration: underline;
	cursor: pointer;
}
.d-third_login{
	  height: 18px;
    font-size: 13px;
    width: 260px;
    margin-top: 24px;
}
.d-third_login a{
	    color: #e74c3c;
    line-height: 18px
}
.d-third_login img{

    height: 14px;
    width: 14px;
    margin-left: 9px;
    margin-bottom: -2px;
    display: inline-block;
}


