@charset "utf-8";
body,
html {
	font-family: "微软雅黑";
	font-size: 12px;
}

.container {
	width: 1150px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.txt_center {
	text-align: center;
}
.relative{
	position: relative;
}
.trans3 {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.trans5 {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}